In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.set(style="whitegrid")

In [2]:
labels = pd.read_csv("../train_labels.csv")
values = pd.read_csv("../train_values.csv")

In [3]:
labels

        building_id  damage_grade
0            802906             3
1             28830             2
2             94947             3
3            590882             2
4            201944             3
...             ...           ...
260596       688636             2
260597       669485             3
260598       602512             3
260599       151409             2
260600       747594             3

[260601 rows x 2 columns]

In [4]:
values

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,25,1335,1621,1,55,6,3,n,r,...,0,0,0,0,0,0,0,0,0,0
260597,669485,17,715,2060,2,0,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
260598,602512,17,51,8163,3,55,6,7,t,r,...,0,0,0,0,0,0,0,0,0,0
260599,151409,26,39,1851,2,10,14,6,t,r,...,0,0,0,0,0,0,0,0,0,0
260600,747594,21,9,9101,3,10,7,6,n,r,...,0,0,0,0,0,0,0,0,0,0

## AnÃ¡lisis de `has_secondary_use`

In [5]:
cols = list(values.columns)
new_cols = ["building_id"]

for col in cols:
    if (col.startswith("has_secondary_use")):
        new_cols.append(col)

new_cols

['building_id',
 'has_secondary_use',
 'has_secondary_use_agriculture',
 'has_secondary_use_hotel',
 'has_secondary_use_rental',
 'has_secondary_use_institution',
 'has_secondary_use_school',
 'has_secondary_use_industry',
 'has_secondary_use_health_post',
 'has_secondary_use_gov_office',
 'has_secondary_use_use_police',
 'has_secondary_use_other']

In [7]:
values_secondary_use = values[new_cols]
values_secondary_use.set_index("building_id", inplace=True)

values_secondary_use

,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,
802906,0,0,0,0,0,0,0,0,0,0,0
28830,0,0,0,0,0,0,0,0,0,0,0
94947,0,0,0,0,0,0,0,0,0,0,0
590882,0,0,0,0,0,0,0,0,0,0,0
201944,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
688636,0,0,0,0,0,0,0,0,0,0,0
669485,0,0,0,0,0,0,0,0,0,0,0
602512,0,0,0,0,0,0,0,0,0,0,0
151409,0,0,0,0,0,0,0,0,0,0,0
747594,0,0,0,0,0,0,0,0,0,0,0

In [19]:
values_has_secondary_use = values_secondary_use[values_secondary_use['has_secondary_use'] == 1]
values_has_secondary_use

,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,
333020,1,1,0,0,0,0,0,0,0,0,0
793397,1,1,0,0,0,0,0,0,0,0,0
973909,1,1,0,0,0,0,0,0,0,0,0
440102,1,0,0,1,0,0,0,0,0,0,0
552720,1,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
977263,1,1,0,0,0,0,0,0,0,0,0
317439,1,1,0,0,0,0,0,0,0,0,0
603159,1,1,0,0,0,0,0,0,0,0,0
560805,1,1,0,0,0,0,0,0,0,0,0
226421,1,1,0,0,0,0,0,0,0,0,0

In [23]:
values_has_secondary_use.shape[0] / values_secondary_use.shape[0] * 100

11.187984696912137

### Solo un 11% tiene secondary use