In [1]:
import pandas as pd
import numpy as np

## Train

float

In [2]:
train = pd.read_csv('../Train/train_set_geo_level_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,8220,1038,122,3

In [22]:
train['base_percentage'] = train['area_percentage'] / train['height_percentage']

train['base_percentage'].value_counts()

1.000000     33215
2.000000     15814
1.200000     14450
1.500000     13320
1.400000     12147
             ...
0.680000         1
6.875000         1
19.250000        1
15.400000        1
2.764706         1
Name: base_percentage, Length: 511, dtype: int64

In [23]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,base_percentage,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,1,24381,270,37,1.200000,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,1,19080,199,16,1.142857,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,1,14889,1760,136,1.000000,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,0,0,0,1,6252,205,31,1.200000,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,1,8220,1038,122,0.888889,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,0,1,5624,116,14,2.000000,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,0,1,21813,261,49,1.200000,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,0,1,21813,333,22,0.857143,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,0,1,22615,4038,236,2.333333,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,0,3,14889,333,41,1.166667,3

In [24]:
train.to_csv('../Train/train_set_geo_level_sum_base.csv', index=False)

int

In [2]:
train = pd.read_csv('../Train/train_set_geo_level_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,8220,1038,122,3

In [3]:
train['base_percentage'] = train['area_percentage'] // train['height_percentage']

train['base_percentage'].value_counts()

1     149349
0      46592
2      42941
3      12494
4       4635
5       2361
6       1008
7        509
8        271
9        179
11        67
10        60
12        39
13        19
14        18
15        11
16        11
17        11
21         7
19         4
22         4
18         3
27         2
28         2
23         1
24         1
25         1
30         1
Name: base_percentage, dtype: int64

In [4]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,base_percentage,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,1,24381,270,37,1,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,1,19080,199,16,1,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,1,14889,1760,136,1,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,0,0,0,1,6252,205,31,1,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,1,8220,1038,122,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,0,1,5624,116,14,2,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,0,1,21813,261,49,1,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,0,1,21813,333,22,0,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,0,1,22615,4038,236,2,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,0,3,14889,333,41,1,3

In [5]:
train.to_csv('../Train/train_set_geo_level_sum_base_int.csv', index=False)

## Test

float

In [2]:
test = pd.read_csv('../Test/test_set_geo_level_sum.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,1,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,0,0,1,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,1,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,1,0,0,0,0,0,2,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,1,7452,62,7

In [3]:
test['base_percentage'] = test['area_percentage'] / test['height_percentage']

test['base_percentage'].value_counts()

1.000000     11020
2.000000      5382
1.200000      4834
1.500000      4507
1.400000      4176
             ...
11.800000        1
7.428571         1
2.363636         1
0.156250         1
2.181818         1
Name: base_percentage, Length: 370, dtype: int64

In [4]:
test.to_csv('../Test/test_set_geo_level_sum_base.csv', index=False)

int

In [2]:
test = pd.read_csv('../Test/test_set_geo_level_sum.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,1,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,0,0,1,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,1,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,1,0,0,0,0,0,2,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,1,7452,62,7

In [3]:
test['base_percentage'] = test['area_percentage'] // test['height_percentage']

test['base_percentage'].value_counts()

1.000000     11020
2.000000      5382
1.200000      4834
1.500000      4507
1.400000      4176
             ...
11.800000        1
7.428571         1
2.363636         1
0.156250         1
2.181818         1
Name: base_percentage, Length: 370, dtype: int64

In [4]:
test.to_csv('../Test/test_set_geo_level_sum_base_int.csv', index=False)