In [1]:
import pandas as pd

## Train

In [15]:
train = pd.read_csv('../Train/train_set_sin_building_id.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3

### Categorical columns

In [16]:
train['legal_ownership_status'] = train['legal_ownership_status'].replace({"a": 0, "r": 1, "v": 2, "w": 3})
train['plan_configuration'] = train['plan_configuration'].replace({"a": 0, "c": 1, "d": 2, "f": 3, "m": 4, "n": 5, "o": 6, "q": 7, "s": 8, "u": 9})
train['position'] = train['position'].replace({"j": 0, "o": 1, "s": 2, "t": 3})
train['other_floor_type'] = train['other_floor_type'].replace({"j": 0, "q": 1, "s": 2, "x": 3})
train['ground_floor_type'] = train['ground_floor_type'].replace({"f": 0, "m": 1, "v": 2, "x": 3, "z": 4})
train['roof_type'] = train['roof_type'].replace({"n": 0, "q": 1, "x": 2})
train['foundation_type'] = train['foundation_type'].replace({"h": 0, "i": 1, "r": 2, "u": 3, "w": 4})
train['land_surface_condition'] = train['land_surface_condition'].replace({"n": 0, "o": 1, "t": 2})

In [17]:
train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,2,2,0,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,1,2,0,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,2,2,0,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,2,2,0,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,2,2,0,...,0,0,0,0,0,0,0,0,0,3

### Has superstructure

In [18]:
train['has_superstructure_general'] = train['has_superstructure_adobe_mud']
del train['has_superstructure_adobe_mud']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_mud_mortar_stone'] *2
del train['has_superstructure_mud_mortar_stone']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_stone_flag'] *3
del train['has_superstructure_stone_flag'] 

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_cement_mortar_stone'] *4
del train['has_superstructure_cement_mortar_stone']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_mud_mortar_brick'] *5
del train['has_superstructure_mud_mortar_brick']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_cement_mortar_brick'] *6
del train['has_superstructure_cement_mortar_brick']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_timber'] *7
del train['has_superstructure_timber']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_bamboo'] *8
del train['has_superstructure_bamboo']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_rc_engineered'] *9
del train['has_superstructure_rc_engineered']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_rc_non_engineered'] *10
del train['has_superstructure_rc_non_engineered']

train['has_superstructure_general'] = train['has_superstructure_general'] + train['has_superstructure_other'] *11
del train['has_superstructure_other']

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,has_superstructure_general
0,6,487,12198,2,30,6,5,2,2,0,...,0,0,0,0,0,0,0,0,3,3
1,8,900,2812,2,10,8,7,1,2,0,...,0,0,0,0,0,0,0,0,2,2
2,21,363,8973,2,10,5,5,2,2,0,...,0,0,0,0,0,0,0,0,3,2
3,22,418,10694,2,10,6,5,2,2,0,...,0,0,0,0,0,0,0,0,2,17
4,11,131,1488,3,30,8,9,2,2,0,...,0,0,0,0,0,0,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,2,0,...,0,0,0,0,0,0,0,0,2,2
260597,17,715,2060,2,0,6,5,2,2,0,...,0,0,0,0,0,0,0,0,3,2
260598,17,51,8163,3,55,6,7,2,2,1,...,0,0,0,0,0,0,0,0,3,2
260599,26,39,1851,2,10,14,6,2,2,2,...,0,0,0,0,0,0,0,0,2,6
260600,21,9,9101,3,10,7,6,0,2,0,...,0,0,0,0,0,0,0,0,3,2

### Has secondary use

In [19]:
train['has_secondary_general'] = train['has_secondary_use']
del train['has_secondary_use']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_agriculture'] *2
del train['has_secondary_use_agriculture']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_hotel'] *3
del train['has_secondary_use_hotel'] 

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_rental'] *4
del train['has_secondary_use_rental']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_institution'] *5
del train['has_secondary_use_institution']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_school'] *6
del train['has_secondary_use_school']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_industry'] *7
del train['has_secondary_use_industry']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_health_post'] *8
del train['has_secondary_use_health_post']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_gov_office'] *9
del train['has_secondary_use_gov_office']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_use_police'] *10
del train['has_secondary_use_use_police']

train['has_secondary_general'] = train['has_secondary_general'] + train['has_secondary_use_other'] *11
del train['has_secondary_use_other']

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,legal_ownership_status,count_families,damage_grade,has_superstructure_general,has_secondary_general
0,6,487,12198,2,30,6,5,2,2,0,0,1,3,2,2,1,3,3,0
1,8,900,2812,2,10,8,7,1,2,0,3,1,2,2,2,1,2,2,0
2,21,363,8973,2,10,5,5,2,2,0,0,3,3,2,2,1,3,2,0
3,22,418,10694,2,10,6,5,2,2,0,0,3,2,2,2,1,2,17,0
4,11,131,1488,3,30,8,9,2,2,0,0,3,2,2,2,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,2,0,0,0,2,7,2,1,2,2,0
260597,17,715,2060,2,0,6,5,2,2,0,0,1,2,2,2,1,3,2,0
260598,17,51,8163,3,55,6,7,2,2,1,0,1,2,2,2,1,3,2,0
260599,26,39,1851,2,10,14,6,2,2,2,2,2,0,2,2,1,2,6,0
260600,21,9,9101,3,10,7,6,0,2,0,0,1,0,2,2,3,3,2,0

### count floors, area y height percentage

In [20]:
train['espacio_gral_edad'] = train['count_floors_pre_eq'] * train['area_percentage'] * train['height_percentage'] * train['age']

### Geo level id

In [21]:
train['geo_level_total'] = train['geo_level_1_id'] * train['geo_level_2_id'] * train['geo_level_3_id']
del train['geo_level_1_id']
del train['geo_level_2_id']
del train['geo_level_3_id']

In [22]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,legal_ownership_status,count_families,has_superstructure_general,has_secondary_general,espacio_gral_edad,geo_level_total,damage_grade
0,2,30,6,5,2,2,0,0,1,3,2,2,1,3,0,1800,35642556,3
1,2,10,8,7,1,2,0,3,1,2,2,2,1,2,0,1120,20246400,2
2,2,10,5,5,2,2,0,0,3,3,2,2,1,2,0,500,68401179,3
3,2,10,6,5,2,2,0,0,3,2,2,2,1,17,0,600,98342024,2
4,3,30,8,9,2,2,0,0,3,2,2,2,1,1,0,6480,2144208,3

In [23]:
train.to_csv('../Train/train_set_idea.csv', index=False)

## Test

In [25]:
test = pd.read_csv('../Test/test_set_sin_building_id.csv')

test.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
1,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
2,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
3,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
4,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0

### Categorical columns

In [26]:
test['legal_ownership_status'] = test['legal_ownership_status'].replace({"a": 0, "r": 1, "v": 2, "w": 3})
test['plan_configuration'] = test['plan_configuration'].replace({"a": 0, "c": 1, "d": 2, "f": 3, "m": 4, "n": 5, "o": 6, "q": 7, "s": 8, "u": 9})
test['position'] = test['position'].replace({"j": 0, "o": 1, "s": 2, "t": 3})
test['other_floor_type'] = test['other_floor_type'].replace({"j": 0, "q": 1, "s": 2, "x": 3})
test['ground_floor_type'] = test['ground_floor_type'].replace({"f": 0, "m": 1, "v": 2, "x": 3, "z": 4})
test['roof_type'] = test['roof_type'].replace({"n": 0, "q": 1, "x": 2})
test['foundation_type'] = test['foundation_type'].replace({"h": 0, "i": 1, "r": 2, "u": 3, "w": 4})
test['land_surface_condition'] = test['land_surface_condition'].replace({"n": 0, "o": 1, "t": 2})

In [27]:
test.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,17,596,11307,3,20,7,6,2,2,0,...,0,0,0,0,0,0,0,0,0,0
1,6,141,11987,2,25,13,5,2,2,0,...,1,0,0,0,0,0,0,0,0,0
2,22,19,10044,2,5,4,5,2,2,0,...,0,0,0,0,0,0,0,0,0,0
3,26,39,633,1,0,19,3,2,2,2,...,0,0,1,0,0,0,0,0,0,0
4,17,289,7970,3,15,8,7,2,2,1,...,0,0,0,0,0,0,0,0,0,0

### Has superstructure

In [28]:
test['has_superstructure_general'] = test['has_superstructure_adobe_mud']
del test['has_superstructure_adobe_mud']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_mud_mortar_stone'] *2
del test['has_superstructure_mud_mortar_stone']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_stone_flag'] *3
del test['has_superstructure_stone_flag'] 

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_cement_mortar_stone'] *4
del test['has_superstructure_cement_mortar_stone']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_mud_mortar_brick'] *5
del test['has_superstructure_mud_mortar_brick']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_cement_mortar_brick'] *6
del test['has_superstructure_cement_mortar_brick']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_timber'] *7
del test['has_superstructure_timber']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_bamboo'] *8
del test['has_superstructure_bamboo']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_rc_engineered'] *9
del test['has_superstructure_rc_engineered']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_rc_non_engineered'] *10
del test['has_superstructure_rc_non_engineered']

test['has_superstructure_general'] = test['has_superstructure_general'] + test['has_superstructure_other'] *11
del test['has_superstructure_other']

test

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,has_superstructure_general
0,17,596,11307,3,20,7,6,2,2,0,...,0,0,0,0,0,0,0,0,0,2
1,6,141,11987,2,25,13,5,2,2,0,...,0,0,0,0,0,0,0,0,0,2
2,22,19,10044,2,5,4,5,2,2,0,...,0,0,0,0,0,0,0,0,0,2
3,26,39,633,1,0,19,3,2,2,2,...,0,1,0,0,0,0,0,0,0,6
4,17,289,7970,3,15,8,7,2,2,1,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,4,605,3623,3,70,20,6,2,2,1,...,0,0,0,0,0,0,0,0,0,9
86864,10,1407,11907,3,25,6,7,0,2,0,...,0,0,0,0,0,0,0,0,0,6
86865,22,1136,7712,1,50,3,3,2,2,0,...,0,0,0,0,0,0,0,0,0,9
86866,6,1041,912,2,5,9,5,2,2,0,...,0,0,0,0,0,0,0,0,0,3
86867,26,36,6436,2,10,11,4,2,2,1,...,0,0,0,0,0,0,0,0,0,6

### Has secondary use

In [29]:
test['has_secondary_general'] = test['has_secondary_use']
del test['has_secondary_use']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_agriculture'] *2
del test['has_secondary_use_agriculture']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_hotel'] *3
del test['has_secondary_use_hotel'] 

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_rental'] *4
del test['has_secondary_use_rental']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_institution'] *5
del test['has_secondary_use_institution']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_school'] *6
del test['has_secondary_use_school']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_industry'] *7
del test['has_secondary_use_industry']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_health_post'] *8
del test['has_secondary_use_health_post']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_gov_office'] *9
del test['has_secondary_use_gov_office']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_use_police'] *10
del test['has_secondary_use_use_police']

test['has_secondary_general'] = test['has_secondary_general'] + test['has_secondary_use_other'] *11
del test['has_secondary_use_other']

test

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,legal_ownership_status,count_families,has_superstructure_general,has_secondary_general
0,17,596,11307,3,20,7,6,2,2,0,0,1,2,2,2,1,2,0
1,6,141,11987,2,25,13,5,2,2,0,0,1,2,2,2,1,2,3
2,22,19,10044,2,5,4,5,2,2,0,0,1,2,2,2,1,2,0
3,26,39,633,1,0,19,3,2,2,2,2,0,3,2,2,2,6,5
4,17,289,7970,3,15,8,7,2,2,1,0,1,3,2,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,4,605,3623,3,70,20,6,2,2,1,0,1,3,2,3,1,9,3
86864,10,1407,11907,3,25,6,7,0,2,0,0,1,2,2,2,1,6,0
86865,22,1136,7712,1,50,3,3,2,2,0,0,0,2,2,2,1,9,0
86866,6,1041,912,2,5,9,5,2,2,0,0,1,2,2,0,1,3,0
86867,26,36,6436,2,10,11,4,2,2,1,2,1,2,2,2,1,6,0

### count floors, area y height percentage

In [30]:
test['espacio_gral_edad'] = test['count_floors_pre_eq'] * test['area_percentage'] * test['height_percentage'] * test['age']

### Geo level id

In [31]:
test['geo_level_total'] = test['geo_level_1_id'] * test['geo_level_2_id'] * test['geo_level_3_id']
del test['geo_level_1_id']
del test['geo_level_2_id']
del test['geo_level_3_id']

In [32]:
test.head()

,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,legal_ownership_status,count_families,has_superstructure_general,has_secondary_general,espacio_gral_edad,geo_level_total
0,3,20,7,6,2,2,0,0,1,2,2,2,1,2,0,2520,114562524
1,2,25,13,5,2,2,0,0,1,2,2,2,1,2,3,3250,10141002
2,2,5,4,5,2,2,0,0,1,2,2,2,1,2,0,200,4198392
3,1,0,19,3,2,2,2,2,0,3,2,2,2,6,5,0,641862
4,3,15,8,7,2,2,1,0,1,3,2,2,1,2,0,2520,39156610

In [33]:
test.to_csv('../Test/test_set_idea.csv', index=False)