In [1]:
import pandas as pd
import numpy as np

## Train

geo level sum

In [2]:
train = pd.read_csv('../Train/train_set_geo_level_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,8220,1038,122,3

In [4]:
pos = len(train.columns) - 1

train.insert(pos, "geo_level_1_per_mud_mortar_stone", train['geo_level_1_id'] * train['has_superstructure_mud_mortar_stone'])
pos +=1
train.insert(pos, "geo_level_1_sum_per_mud_mortar_stone", train['geo_level_1_id_sum'] * train['has_superstructure_mud_mortar_stone'])

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_1_per_mud_mortar_stone,geo_level_1_sum_per_mud_mortar_stone,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,1,24381,270,37,6,24381,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,1,19080,199,16,8,19080,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,1,14889,1760,136,21,14889,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,1,6252,205,31,22,6252,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,1,8220,1038,122,0,0,3

In [5]:
train.to_csv('../Train/train_set_geo_1_per_mortar_stone.csv', index=False)

binary encoding

In [4]:
train = pd.read_csv('../Train/train_set_binary_encoding_geo_levels_sum_id_mult_floors_age_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,legal_ownership_status_b1,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,1,156623,18028,35642556,12691,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,1,156623,38896,20246400,3720,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,1,156623,38896,68401179,9357,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,1,156623,38896,98342024,11134,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,1,55617,18028,2144208,1630,8220,1038,122,3

In [5]:
pos = len(train.columns) - 1

train.insert(pos, "geo_level_1_per_mud_mortar_stone", train['geo_level_1_id'] * train['has_superstructure_mud_mortar_stone'])
pos +=1
train.insert(pos, "geo_level_1_sum_per_mud_mortar_stone", train['geo_level_1_id_sum'] * train['has_superstructure_mud_mortar_stone'])

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_1_per_mud_mortar_stone,geo_level_1_sum_per_mud_mortar_stone,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,156623,18028,35642556,12691,24381,270,37,6,24381,3
1,8,900,2812,2,10,8,7,0,1,0,...,156623,38896,20246400,3720,19080,199,16,8,19080,2
2,21,363,8973,2,10,5,5,0,1,0,...,156623,38896,68401179,9357,14889,1760,136,21,14889,3
3,22,418,10694,2,10,6,5,0,1,0,...,156623,38896,98342024,11134,6252,205,31,22,6252,2
4,11,131,1488,3,30,8,9,1,0,0,...,55617,18028,2144208,1630,8220,1038,122,0,0,3

In [6]:
train.to_csv('../Train/train_set_binary_encoding_geo_1_per_mortar_stone.csv', index=False)

## Test

geo level sum

In [6]:
test = pd.read_csv('../Test/test_set_geo_level_sum.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,1,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,0,0,1,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,1,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,1,0,0,0,0,0,2,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,1,7452,62,7

In [7]:
test['geo_level_1_per_mud_mortar_stone'] = test['geo_level_1_id'] * test['has_superstructure_mud_mortar_stone']
test['geo_level_1_sum_per_mud_mortar_stone'] = test['geo_level_1_id_sum'] * test['has_superstructure_mud_mortar_stone']

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_1_per_mud_mortar_stone,geo_level_1_sum_per_mud_mortar_stone
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,1,7452,45,4,17,7452
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,1,8104,65,3,6,8104
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,1,2106,17,4,22,2106
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,0,0,2,7387,1329,190,0,0
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,1,7452,62,7,17,7452

In [8]:
test.to_csv('../Test/test_set_geo_1_per_mortar_stone.csv', index=False)

binary encoding

In [2]:
test = pd.read_csv('../Test/test_set_binary_encoding_geo_levels_sum_id_mult_floors_age_sum.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,legal_ownership_status_b2,legal_ownership_status_b1,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,1,18554,10610,114562524,11920,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,1,52406,8220,10141002,12134,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,1,52406,11348,4198392,10085,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,1,13264,8684,641862,698,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,1,18554,12064,39156610,8276,7452,62,7

In [3]:
pos = len(test.columns)

test.insert(pos, "geo_level_1_per_mud_mortar_stone", test['geo_level_1_id'] * test['has_superstructure_mud_mortar_stone'])
pos +=1
test.insert(pos, "geo_level_1_sum_per_mud_mortar_stone", test['geo_level_1_id_sum'] * test['has_superstructure_mud_mortar_stone'])

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_1_per_mud_mortar_stone,geo_level_1_sum_per_mud_mortar_stone
0,300051,17,596,11307,3,20,7,6,0,1,...,1,18554,10610,114562524,11920,7452,45,4,17,7452
1,99355,6,141,11987,2,25,13,5,0,1,...,1,52406,8220,10141002,12134,8104,65,3,6,8104
2,890251,22,19,10044,2,5,4,5,0,1,...,1,52406,11348,4198392,10085,2106,17,4,22,2106
3,745817,26,39,633,1,0,19,3,0,0,...,1,13264,8684,641862,698,7387,1329,190,0,0
4,421793,17,289,7970,3,15,8,7,0,1,...,1,18554,12064,39156610,8276,7452,62,7,17,7452

In [4]:
test.to_csv('../Test/test_set_binary_encoding_geo_1_per_mortar_stone.csv', index=False)