In [12]:
import pandas as pd
import numpy as np

## Train

geo level sum

In [2]:
train = pd.read_csv('../Train/train_set_geo_level_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,8220,1038,122,3

In [3]:
pos = len(train.columns) - 1

train.insert(pos, "geo_level_sum", train['geo_level_1_id'] + train['geo_level_2_id'] + train['geo_level_3_id'])

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,1,24381,270,37,12691,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,1,19080,199,16,3720,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,1,14889,1760,136,9357,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,0,0,0,1,6252,205,31,11134,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,1,8220,1038,122,1630,3

In [4]:
train.insert(pos, "geo_level_multiply", train['geo_level_1_id'] * train['geo_level_2_id'] * train['geo_level_3_id'])

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_multiply,geo_level_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,1,24381,270,37,35642556,12691,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,1,19080,199,16,20246400,3720,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,1,14889,1760,136,68401179,9357,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,1,6252,205,31,98342024,11134,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,1,8220,1038,122,2144208,1630,3

In [5]:
train.to_csv('../Train/train_set_geo_levels_sum_mult.csv', index=False)

one hot encoding

In [4]:
train = pd.read_csv('../Train/train_set_one_hot_encoding_geo_level_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,1,0,0,0,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,1,0,0,0,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,1,0,0,0,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,1,0,0,0,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,1,0,0,0,8220,1038,122,3

In [5]:
pos = len(train.columns) - 1

train.insert(pos, "geo_level_sum", train['geo_level_1_id'] + train['geo_level_2_id'] + train['geo_level_3_id'])

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,1,0,0,0,24381,270,37,12691,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,1,0,0,0,19080,199,16,3720,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,1,0,0,0,14889,1760,136,9357,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,1,0,0,0,6252,205,31,11134,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,1,0,0,0,8220,1038,122,1630,3

In [6]:
train.insert(pos, "geo_level_multiply", train['geo_level_1_id'] * train['geo_level_2_id'] * train['geo_level_3_id'])

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_multiply,geo_level_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,1,0,0,0,24381,270,37,35642556,12691,3
1,8,900,2812,2,10,8,7,0,1,0,...,1,0,0,0,19080,199,16,20246400,3720,2
2,21,363,8973,2,10,5,5,0,1,0,...,1,0,0,0,14889,1760,136,68401179,9357,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,0,0,0,6252,205,31,98342024,11134,2
4,11,131,1488,3,30,8,9,1,0,0,...,1,0,0,0,8220,1038,122,2144208,1630,3

In [7]:
train.to_csv('../Train/train_set_one_hot_encoding_geo_levels_sum_mult.csv', index=False)

## Test

geo level sum

In [13]:
test = pd.read_csv('../Test/test_set_geo_level_sum.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,1,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,0,0,1,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,1,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,1,0,0,0,0,0,2,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,1,7452,62,7

In [16]:
test['geo_level_sum'] = test['geo_level_1_id'] + test['geo_level_2_id'] + test['geo_level_3_id']

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,1,7452,45,4,11920
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,0,1,8104,65,3,12134
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,1,2106,17,4,10085
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,0,0,0,2,7387,1329,190,698
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,1,7452,62,7,8276

In [17]:
test["geo_level_multiply"] = test['geo_level_1_id'] * test['geo_level_2_id'] * test['geo_level_3_id']

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,geo_level_sum,geo_level_multiply
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,1,7452,45,4,11920,114562524
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,1,8104,65,3,12134,10141002
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,1,2106,17,4,10085,4198392
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,0,0,2,7387,1329,190,698,641862
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,1,7452,62,7,8276,39156610

In [18]:
test.to_csv('../Test/test_set_geo_levels_sum_mult.csv', index=False)

one hot encoding

In [8]:
test = pd.read_csv('../Test/test_set_one_hot_encoding_geo_level_sum.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,plan_configuration_m,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,1,0,0,0,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,1,0,0,0,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,1,0,0,0,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,0,1,0,0,0,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,1,0,0,0,7452,62,7

In [9]:
pos = len(test.columns) - 1

test.insert(pos, "geo_level_sum", test['geo_level_1_id'] + test['geo_level_2_id'] + test['geo_level_3_id'])

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,1,0,0,0,7452,45,11920,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,1,0,0,0,8104,65,12134,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,1,0,0,0,2106,17,10085,4
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,1,0,0,0,7387,1329,698,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,1,0,0,0,7452,62,8276,7

In [10]:
test.insert(pos, "geo_level_multiply", test['geo_level_1_id'] * test['geo_level_2_id'] * test['geo_level_3_id'])

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_multiply,geo_level_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,1,0,0,0,7452,45,114562524,11920,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,1,0,0,0,8104,65,10141002,12134,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,1,0,0,0,2106,17,4198392,10085,4
3,745817,26,39,633,1,0,19,3,0,0,...,0,1,0,0,0,7387,1329,641862,698,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,1,0,0,0,7452,62,39156610,8276,7

In [11]:
test.to_csv('../Test/test_set_one_hot_encoding_geo_levels_sum_mult.csv', index=False)